<h2 class="text-center">Event Management</h2>
<button  (click)="addEvent()">Add a new Event</button>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Event</th>
    <th>Category</th>
    <th>Location</th>
    <th>Adult Price</th>
    <th>Child Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let event of events;">
    <td>{{event.eventName}}</td>
    <td>{{event.category}}</td>
    <td>{{event.location}}</td>
    <td>{{event.adultTicketPrice}}</td>
    <td>{{event.childTicketPrice}}</td>
  </tr>
  </tbody>
</table>
