
<div class="container" >
<h2 class="text-center fw-bold mb-7 text-uppercase" > Event Management</h2>
<div id="table" class="table-editable">
  
        <div class="float-end">
          <span class="table-add float-right mb-3 mr-2">
<button  class="fas fa-plus fa-2x" aria-hidden="true" (click)="addEvent()">Add +</button> </span></div>
<table class="table table-hover table-striped table-bordered table-responsive-md text-center ">
  <thead class="thead-dark">
  <tr>
    <th>Event</th>
    <th>Category</th>
    <th>Location</th>
    <th>Adult Price</th>
    <th>Child Price</th>
    <th>Actions</th>
   
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let event of events;">
    <td>{{event.eventName}}</td>
    <td>{{event.category}}</td>
    <td>{{event.location}}</td>
    <td>{{event.adultTicketPrice}}</td>
    <td>{{event.childTicketPrice}}</td>

    <td>
      <button (click)="updateEvent(event.eventId)" class="btn btn-info" style="margin: 5px">Update</button>
      <button (click)="deleteEvent(event.eventId)" class="btn btn-danger" style="margin: 5px">Delete</button>
      <button (click)="eventDetails(event.eventId)" class="btn btn-secondary" style="margin: 5px">View</button>
    </td>
  </tr>
  </tbody>
</table>
</div>
</div>
